[submodule "_jekyll-style"]
	path = _jekyll-style
	url = https://github.com/hydepress/jekyll-style
[submodule "_jekyll"]
	path = _jekyll
	url = https://github.com/hydepress/jekyll
[submodule "_jekyll-plugins"]
	path = _jekyll-plugins
	url = https://github.com/hydepress/jekyll-plugins
[submodule "_octopress"]
	path = _octopress
	url = https://github.com/hydepress/octopress
[submodule "_jekyll-import"]
	path = _jekyll-import
	url = https://github.com/hydepress/jekyll-import
