[submodule "_jekyll-style"]
	path = _jekyll-style
	url = https://github.com/hydepress/jekyll-style
[submodule "_jekyll"]
	path = _jekyll
	url = https://github.com/hydepress/jekyll
[submodule "_jekyll-plugins"]
	path = _jekyll-plugins
	url = https://github.com/hydepress/jekyll-plugins
[submodule "_octopress"]
	path = _octopress
	url = https://github.com/hydepress/octopress
[submodule "_jekyll-import"]
	path = _jekyll-import
	url = https://github.com/hydepress/jekyll-import
[submodule "_jekyll-themes"]
	path = _jekyll-themes
	url = https://github.com/hydepress/jekyll-themes
[submodule "_jekyll-deploy"]
	path = _jekyll-deploy
	url = https://github.com/hydepress/jekyll-deploy
[submodule "_jekyll-install"]
	path = _jekyll-install
	url = https://github.com/hydepress/jekyll-install
[submodule "_jekyll-dev"]
	path = _jekyll-dev
	url = https://github.com/hydepress/jekyll-dev
[submodule "_liquid"]
	path = _liquid
	url = https://github.com/hydepress/liquid
[submodule "_octopod"]
	path = _octopod
	url = https://github.com/hydepress/octopod
